ul li{
    display: inline-block; 
    border: 3 px onset rgb(0, 0, 0);
    width: 150 px;
    list-style-type: none;
    padding: 15 px 5 px 15 px 5 px;
    margin-top: 0;  
    text-align: center; 
    margin-right: 20 px;
    margin-left: 20 px;
};
