li{
    display: inline-block; 
    border: 3px onset rgb(0, 0, 0);
    width: 150px;
    list-style-type: none;
    padding: 15px 15px 15px 25px;
    margin-top: 0;  
    text-align: center; 
};
