

h1{
color:#5c010c;
}

a{
background-color: #e1e1e1;
border: medium outset #707070;
padding: 5px; 
margin-left: auto; 
margin-right: auto;
width: 50%;
text-align: center;
}

#bio{
    margin-left: 15%;
    margin-right: 15%;
    text-align: left;
    
}
