body {
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100vh;
}

h1 {
  color: #000000;
  font-size: 45px;
  font-weight: bold;
  font-family: 'Jura';
}


#pp {
  padding-top: 25px;
  max-width: 25%;
  height: auto;
  border-radius: 5px;
  border-color: black;
}

#bio1,
#bio2,
#bio3,
#bio4 {
  margin-left: 5%;
  margin-right: 5%;

  width: 90%;
  font-size: 20px;
  text-align: center;
}



#intro1 {
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
  font-size: 50px;
}

#intro2 {
 margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  font-size: 30px;
}

#firstbio>p::first-letter {
  font-size: 20px;
  font-weight: bold;
  color: #3988ff;
}

#firstbio {
  text-indent: -1em;
}

#subbio {
  text-indent: 1em;
}

#con{
  margin-top: 5%;
  text-align: center;
  text-decoration: underline;
}
#ref{
  margin-top: 5%; 
  text-align: center;
  text-decoration: underline;
}


#tab1{
  border: 3px solid black;
  border-collapse: collapse;
  width: 500px;
  overflow: scroll;
  margin-left: 25%;
  tr:nth-child(even) { 
    background-color: rgb(228, 228, 228); 
  } 
}

#tab2
{
  border: 3px solid black;
  border-collapse: collapse;
  width: 1000px;
  overflow: scroll;
  tr:nth-child(even) { 
    background-color: rgb(228, 228, 228); 
  } 
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;

}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;

  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
  
}

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  width: 500px;
}

table td, table th {
  border: 1px solid black;
  padding-left: 5px;
  padding-right: 5px;
  
}

thead{
  color: #3988ff;
}


header {
  grid-auto-rows: 100%;
  height: 10%;
  width: 100%;

}


nav {
  grid-auto-rows: 100%;
  height: 25%;
  width: 100%;

}

main {
  grid-auto-rows: 100%;
  height: 60%;
  padding-left: 15%;
  padding-right: 15%;
}


footer {
  color: white;
  grid-auto-rows: 100%;
  position: relative;
  height: 50px;
  font-size: 15px;
  text-align: center;
  margin: 25% 0 0 0;
  background-image: url("/webcontent/footer.png");
  background-repeat: repeat-x;
}



.column {
  color: white;

}

#p1,
#p2,
#p3 {
  width: 300px;
  height: 50%;
  border-radius: 5px;


}

#edu {
  width: 30%;
  text-align: center;
  padding-left: 35%;
  padding-right: 35%;
}

#email,
#pnum {
  width: 20px;
  height: auto;

}

input{
  font-size: medium;
  padding-left: 5px; 
  padding-right: 5px;
}

#submit{
  padding-top: 8px;
}


form{
  margin-top: 5%;
  background-color: rgb(237, 237, 237);
  height: 250px;
  width: 500px;
  overflow: scroll;
  margin-left: 25%;
}





#form-title{
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  color: black;
  padding-top: 10px;
  padding-bottom: 5px;
}

.form-div{
  padding-top: 10px; 
}



#email:hover,#pnum:hover{
  width: 40px;
  height: auto;
  -webkit-transition: width 0.3s liner 0s;
  transition: width 0.3s linear 0s;
  z-index: 10;
}





@media only screen and (min-width: 640px) {

  .column {
    padding: 16px;
    margin: 5px;
    background-color: #1c1c1c;
  }

  #ProjectContent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 400px;
    padding: 25px 25px 25px 25px;

    text-align: center;
  }

  .popup{
    color:#3988ff;
  }
  .popuptext{
  display: none;
  margin-top: 100px;
  background-color:#1c1c1c;
  min-height: 100px;
  height: auto;
  margin: 100px 5px 5px 5px;
  font-size: 15px;
  
  }
  .popup>span{
    padding: 10px 10px 10px 10px;
  }
  
  .popup:hover{
    .popuptext{
      display: block; 
      color: white;
    }
    }
}

@media only screen and (max-width: 640px) {
  .column {
    padding: 16px;
    
    background-color: #1c1c1c;
    margin: 200px 0px 0px 0px;
  }

  #ProjectContent {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 25px 25px 25px 25px;
    text-align: center;
    height: 400px;
  }

  .popup{
    color:#1c1c1c;
  }
  .popuptext{
  display: none;
  margin-top: 100px;
  background-color:#1c1c1c;
  min-height: 100px;
  height: auto;
  margin: 100px 5px 5px 5px;
  font-size: 15px;
  
  }
  .popup>span{
    padding: 10px 10px 10px 10px;
    
  }

  
  
    .popuptext{
      display: block;
      color: white;
    }
  
}

@font-face {

  font-family: Jura;
  /*this is where we give our font a name so we can use it!*/

  src: url('/webcontent/Jura-VariableFont_wght.ttf');
  /*remember this is how we link to files in CSS!*/

}

@media print {

  br {
    display: none;
  }

  * {
    background: transparent;
    color: #000;
    box-shadow: none;
    text-shadow: none;
    font-family: serif;
  }

  nav,
  #resume {
    display: none;
  }

  #edu {
  width: 300px;
  text-align: center;
  padding-left: 120px;
}

  #bio {
    font-size: 15px;
    width: 100%;
  }

  footer {
    margin-top: 5px;
  }

  h1 {
    font-size: 25px;
  }

  body {
    margin: 1in 1in 1in 1in;
  }


}
